.react-ui-button {
  display: inline-flex;
  align-items: center;

  background-color: var(--react-ui-background);
  color: var(--react-ui-color);

  border-radius: var(--react-ui-element-border-radius);
  border: none;

  margin: var(--react-ui-element-margin);
  padding: var(--react-ui-element-padding);

  line-height: 2em;
  font-size: 1em;

  cursor: pointer;

  &[disabled] {
    color: var(--react-ui-disabled-color);
  }

  &--primary {
    background-color: var(--react-ui-primary-background);
    color: var(--react-ui-primary-color);

    &.react-ui-button {
      &--bordered,
      &--dashed {
        border-color: var(--react-ui-primary-border-color);
      }

      &--dashed {
        background-color: var(--react-ui-background);
        color: var(--react-ui-primary-background);
      }
    }
  }

  &--warn {
    background-color: var(--react-ui-warn-background);
    color: var(--react-ui-warn-color);

    &.react-ui-button {
      &--bordered,
      &--dashed {
        border-color: var(--react-ui-warn-border-color);
      }

      &--dashed {
        background-color: var(--react-ui-background);
        color: var(--react-ui-warn-background);
      }
    }
  }

  &--raised {
    box-shadow: var(--react-ui-shadow);
    font-weight: bolder;

    &[disabled] {
      background-color: var(--react-ui-disabled-background);
    }
  }

  &--bordered {
    border: 1px solid currentColor;
  }

  &--dashed {
    border: 1px dashed currentColor;
  }

  &--icon {
    padding: 0px;
  }
}
