.react-ui-select {
  display: inline-grid;
  grid-template-areas: 'select';
  align-items: center;

  margin: var(--react-ui-element-margin);
  padding: 0;

  border-radius: var(--react-ui-element-border-radius);
  border: 1px solid currentColor;

  & select {
    appearance: none;
    outline: none;
    cursor: inherit;

    width: 100%;
    height: 100%;

    padding: var(--react-ui-element-padding);
    padding-right: calc(var(--react-ui-element-padding-left-right) * 2);

    background-color: transparent;
    border: none;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;

    grid-area: select;

    &:focus {
      outline: auto;
    }
  }

  &__icon {
    content: '';
    pointer-events: none;

    display: flex;
    align-items: center;

    grid-area: select;
    justify-self: end;

    margin-right: calc(var(--react-ui-element-padding-left-right) / 2);
    width: 1em;
    height: 1em;

    color: currentColor;
  }

  &--loading {
    & .react-ui-select__icon {
      animation-name: spin;
      animation-duration: 1s;
      animation-iteration-count: infinite;
      animation-timing-function: linear;
    }
  }

  &--disabled {
    background-color: var(--react-ui-element-disabled-background-color);
    color: var(--react-ui-element-disabled-color);
  }
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
