:root {
  // Basic
  --react-ui-background: #ffffff;
  --react-ui-color: black;
  --react-ui-shadow: 0 3px 1px -2px rgb(0 0 0 / 20%),
    0 2px 2px 0 rgb(0 0 0 / 14%), 0 1px 5px 0 rgb(0 0 0 / 12%);
  --react-ui-font-family: Roboto, Helvetica Neue, sans-serif;

  --react-ui-element-margin: 8px;
  --react-ui-element-padding-left-right: 16px;
  --react-ui-element-padding-top-bottom: 0px;
  --react-ui-element-padding: var(--react-ui-element-padding-top-bottom)
    var(--react-ui-element-padding-left-right);

  --react-ui-element-border-radius: 2px;

  --react-ui-element-disabled-background-color: #f5f5f5;
  --react-ui-element-disabled-color: #d3d3d3;
  --react-ui-element-focus-border-color: #40a9ff;

  // Primary
  --react-ui-primary-background: blue;
  --react-ui-primary-color: white;
  --react-ui-primary-border-color: blue;

  // Warn
  --react-ui-warn-background: red;
  --react-ui-warn-color: white;
  --react-ui-warn-border-color: red;

  // Disabled
  --react-ui-disabled-background: grey;
  --react-ui-disabled-color: lightgrey;
  --react-ui-disabled-border-color: black;

  // Header
  // --ui-header-background-color: #ffffff;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}
